extends pug/layout/_default
prepend vars
    - var title = 'Template for make websites easily'
append content
    include pug/partials/content/_header
    include pug/partials/content/_hero
    include pug/partials/content/_footer
